Maksymilian Lach

In [6]:
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Lewis","Max","Lando","Daniel","Carlos"
        ],
        "Age": [22,38,23,45,21],
        "Sex": ["male", "male", "male","male","male"],
    }
)
df.info()
df.describe()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Sex     5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

    Name  Age   Sex
0  Lewis   22  male
1    Max   38  male
2  Lando   23  male